/*********************/
/*****MAIN BANNER*****/
/*********************/

.container-main-banner {
    background-image: url(../public/img/main-house.webp);
    background-size: cover;
    background-position: center;
    background-color: rgba(255, 255, 255, 0.233);
    background-blend-mode: color;
    height: 850px;
    width: auto;
    align-items: center;
    flex-direction: column;
}

.logotipo {
    display: flex;
    align-items: center;
    justify-content: center;
    padding-top: 80px;

    img {
        width: 40%;
        height: 40%;
    }
}

.view-projects-button {
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: 'Varela Round', sans-serif;
    width: max-content;
    margin: auto;
    border: 2px solid white;
    color: white;
    padding: 15px;
    transition: background-color 2s;

    a {
        color: white;
    }
}

.view-projects-button:hover {
    opacity: 100%;
    background-color: white;
    color: black;
}