/*****************/
/*****CONTACT*****/
/*****************/

.background-contact {
    background-image: url(../public/img/background-contact.webp);
    background-size: cover;
    background-position: center;
    height: 60rem;

    
    h1 {
        text-align: center;
        font-size: 5rem;
        color: white;
        padding-top: 15rem;
    }

    .description-contact {
        display: flex;
        flex-direction: row;
        justify-content: space-evenly;
        margin-top: 100px;

        .container-contact {
            width: 300px;
            padding: 20px;
            background-color: burlywood;
            opacity: 90%;
            border: solid 2px white;
            align-items: center;
            text-align: center;

            h3 {
                margin-bottom: 20px;
            }

            p {
                color: black;

                a {
                    color: white;
                    font: bold;
                }
            }
        }
    }



/***** CONTACT FORM *****/


    .form-box {
        display: flex;
        flex-direction: column;
        align-items: center;
        margin: auto;

        #email-input {
            height: auto;
            width: 50rem;
        }

        #comment-input {
            width: 50rem;
        }

        #submit-button {
            background-color: burlywood;
            color: white;
            font-size: larger;
            border: solid 0.2rem white;
            margin-top: 2rem;
            padding-left: 1.5rem;
            padding-right: 1.5rem;
            text-align: center;
        }
    }
}





